# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
**/cache/

# Secrets
.env

# macOS
.DS_Store

# Investment Research data
*.pdf
data/raw/
**/data/raw/

# IDE
.vscode/
.idea/

# Xcode
**/xcuserdata/
**/*.xcuserstate

# macOS
.DS_Store